<footer class="footer">
    <div class="container">
      footer
    </div>
  </footer>
  http://hr.am/<script src="javascript/jquery.min.js"></script>
<script src="<%= assetFingerprint('/javascript/scripts.js') %>"></script>
</body>
</html>
